/* media query  */
@media (max-width:890px)
{
    h1{
        font-size: 30px;
        line-height: 6vh;
        opacity: 0.9;
    }
    body{
        background-color: #fff;
    }
    .container{
        width: 90%;
        margin: auto;
    }
    /* hosting  */
    .hosting , .search , .quality , .services{
        flex-direction: column;
        margin-top: 20vh;
        align-items: flex-start;
        justify-content: flex-start;
        box-shadow: 0 3px 10px rgba(0 ,0 ,0 ,0.6);
        padding: 20px;
    }
    .left-search{
        order: 1;
    }
    .left-service{
        margin-left: 0;
    }
    .right-hosting img{
        height: 40vh;
        width: 35vw;
        border-radius: 10px;
        margin-top: 20px;
    }

    /* cards  */
    .cards{
        grid-template-columns: 1fr 1fr;
    }
   
    /* packs  */
    .combine-pack{
        grid-template-columns: 1fr;
    }
    .pack{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .pack-foot{
        align-items: flex-start;
        justify-content: flex-start;
    }
    .pack-foot p{
        text-align: start;
        margin-top: 0.2vh;
    }

    /* customer reviews  */
    .review{
        margin-top: 20vh;
    }

    /* worry part  */
    .worry{
        margin-top: 20vh;
    }
    .worry1{
        grid-template-columns: 1fr;
    }
    .left-worry h1{
        font-size: 25px;
    }
    .left-worry p{
        font-size: 18px;
        margin-top: 1vh;
        color: #fff;
    }
    .right-worry{
        margin-top: 4vh;
        justify-self: flex-start;  
     }

     /* footer  */
     .footer{
        margin-top: 15vh;
     }
     .footer-card{
        box-shadow: 0 3px 10px rgba(0 ,0 ,0 ,0.2);
        padding: 5px;
        margin-bottom: 5vh;
     }
     .footer-card h1{
        font-size: 15px;
    }
    .footer-card h3{
        font-size: 12px;
        opacity: 0.6;
    }
    .footer-card p{
        opacity: 0.8;
        width: 20vw;
        height: auto;
        margin-top: 0vh;
        font-size: 12px;
    }
    .footer-card .footer-logo{
        height: 4vh;
        width: auto;
    }
    .footer-card .img-fb{
        width: 15vw;
        height: auto;
    }
    


}

/* special media for navbar  */
@media (max-width:1100px)
{
    .list{
        margin-left: 15px;
    }
  

}
@media (max-width:940px)
{
    
    .list:nth-child(-n+6){
       display: none;
    }

}